*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/gradle.xml
database/build/generated/assets/
database/build/generated/res/
database/build/generated/source/aidl/
database/build/generated/source/apt/
database/build/generated/source/rs/
database/build/intermediates/annotations/
database/build/intermediates/bundles/debug/aidl/
database/build/intermediates/bundles/debug/assets/
database/build/intermediates/bundles/debug/jni/
database/build/intermediates/bundles/debug/libs/
database/build/intermediates/bundles/default/aidl/
database/build/intermediates/bundles/default/assets/
database/build/intermediates/bundles/default/jni/
database/build/intermediates/bundles/default/libs/
database/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
database/build/intermediates/incremental/packageDebugAndroidTest/
database/build/intermediates/incremental/processDebugAndroidTestResources/
database/build/intermediates/incremental/processDebugResources/
database/build/intermediates/incremental/processReleaseResources/
database/build/intermediates/jniLibs/
database/build/intermediates/lint/
database/build/intermediates/manifest/tmp/
database/build/intermediates/rs/
database/build/intermediates/shaders/
database/build/intermediates/transforms/
database/build/tmp/
database/libs/
database/src/
datasource/libs/
